<MudDialog Style="width: 500px">
    <DialogContent>
        <EditForm Model="@_person" OnValidSubmit="async (context) => await Submit(context)">
            <FluentValidator></FluentValidator>
            <MudTextField Label="User name" @bind-Value="_person.Name" For="@(() => _person.Name)"/>
            <MudTextField Label="Job" @bind-Value="_person.Job" For="@(() => _person.Job)"/>
            <MudTextField Label="Email" @bind-Value="_person.Email" For="@(() => _person.Email)"/>
            <MudDatePicker Label="Birthdate" Date="_person.BirthDate"/>
            <MudTextField Label="Image URL" @bind-Value="_person.PictureUrl" For="@(() => _person.PictureUrl)"/>
            <div class="align-right">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Text" Color="Color.Primary">Save</MudButton>
                <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Text" Color="Color.Secondary">Reset</MudButton>
            </div>
        </EditForm>
    </DialogContent>
</MudDialog>