@page "/performance"
@if (Country != null)
{
    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="ShouldRender" OnClick="() => _enablePerformance = false">
            <EditForm Model="Country">
            </EditForm>
        </MudTabPanel>
        <MudTabPanel Text="Vituralize" OnClick="() => _enablePerformance = false">
            <MudContainer Style="max-height: 100vh; overflow-y: scroll">
                @if (!_enablePerformance)
                {
                    @foreach (var airport in Country.Airports)
                    {
                        <MudTextField T="string" @key="airport.Id" @bind-Value="@airport.Name" Label="Airport Name"/>
                    }
                }
                else
                {
                    <Virtualize Items="@Country.Airports" OverscanCount="10" Context="airport">
                        <ItemContent>
                            <MudTextField T="string" @key="airport.Id" @bind-Value="@airport.Name" Label="Airport Name"/>
                        </ItemContent>
                        <Placeholder>
                            <Spinner></Spinner>
                        </Placeholder>
                    </Virtualize>
                }
            </MudContainer>
        </MudTabPanel>
    </MudTabs>

    <div class="btn-action">
        @if (_enablePerformance)
        {
            <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Power" OnClick="@(() => _enablePerformance = false)"/>
        }
        else
        {
            <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.PowerOff" OnClick="@(() => _enablePerformance = true)"/>
        }
    </div>
}